.MuiAppBar-colorPrimary {
    color: #0e0b0b !important;
    background-color: #f8f9fa !important;
}

/* #0e0b0b
#3f51b5 */

/* .MuiPaper-root {
    background-color: #1d62a7 !important;
} */

.MuiPaper-root MuiDrawer-paper makeStyles-drawerPaper-4 MuiDrawer-paperAnchorLeft MuiDrawer-paperAnchorDockedLeft MuiPaper-elevation0{
    background-color: #1d62a7 !important;
}