/* .bg-light {
    background-color: #00000026!important;
}
.navbar {
    padding: 10px;
    
    background-color: #fff;
} */
.MuiAppBar-colorPrimary {
    color: #212529 !important;
    background-color: #e9ecef !important;
}